.button {
    background-color: white; 
    color: black; 
    border: 2px solid DodgerBlue;
    border-radius:10px;
    padding:5px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
}

.button:hover {
    background-color: DodgerBlue;
    color: white;
}

.button:active{
transform: scale(0.95); 
}
.elementContainer{
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
 
  padding:10px;
  background: none;
  border-radius: 10px; 
 -webkit-transition: background 0.5s;
  transition: background 0.5s;
  
  max-width: 1000px;
  min-width:200px;

}


.elementContainer:hover{
   background: #f2f2f2;
}


.elementLabel
{
    margin:10px;
}
.hBox{
display: flex;
flex-flow:row wrap;
padding:10px;
//margin: 10px auto;
//justify-content: space-around;
justify-content: center;
border: 2px solid none;
border-radius: 25px;
}
.range-field {
  position: relative;
}

input[type=range],
input[type=range] + .thumb {
  cursor: pointer;
}

input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range] + .thumb {
  position: absolute;
  top: 10px;
  left: 0;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: DodgerBlue;
  margin-left: 7px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: DodgerBlue;
  font-size: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input[type=range] + .thumb.active {
  border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: DodgerBlue;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-appearance: none;
  background-color: DodgerBlue;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: -14px 0 0 0;
}

.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
          box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-moz-focus-inner {
  border: 0;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: DodgerBlue;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  margin-top: -14px;
}

input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range]::-ms-track {
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: DodgerBlue;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

/* Switch
   ========================================================================== */
.switch,
.switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: DodgerBlue;
  box-shadow: 0px 0px 10px DodgerBlue;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

.switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
  left: 35px;
}


.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  vertical-align: middle;
  margin: 0 0px;

  box-shadow: 0px 0px 1px DodgerBlue;
}

.switch label .lever:before, .switch label .lever:after {
  background-color: White;
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  -webkit-transition: left 0.5s ease, background 0.5s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.5s ease, background 0.5s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.5s ease, background 0.5s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.5s ease, background 0.5s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label .lever:before {
  background-color: DodgerBlue;//rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #949494;
}
h1{
text-align:left;
font-family: "Arial", "Helvetica", sans-serif;
color: DodgerBlue;
}

.display{
text-align:right;
font-size:2em;
font-family: "Arial", "Helvetica", sans-serif;
color: DodgerBlue;
}

.normalText{
text-align: left;
font-family: "Arial", "Helvetica", sans-serif;
color: #505050;
}input[type=text], select, textarea{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.vBox{
  display: flex;
  flex-flow:column;
  padding:10px;
  margin:10px;
  //margin: 10px auto;
  justify-content: center;
  width:500px;
  width-min:100px;
  border: 2px solid DodgerBlue;
  border-radius: 25px;
}





/* The tab header */
.tabHeader {
    overflow: auto;
    background-color: #f2f2f2;
}

/* The links, that activate the tab when you click them */
.tabLink{ 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    font-size: 1.5em;
    font-family: Arial;
}


.tabLink.active {
    background-color: DodgerBlue;
    color: White;
}


.tabLink:hover {
    background-color: #ddd;
}

/*The actual content of the tab*/

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #f2f2f2;
}
