.vBox{
  display: flex;
  flex-flow:column;
  padding:10px;
  margin:10px;
  //margin: 10px auto;
  justify-content: center;
  width:500px;
  width-min:100px;
  border: 2px solid DodgerBlue;
  border-radius: 25px;
}
