.button {
    background-color: white; 
    color: black; 
    border: 2px solid DodgerBlue;
    border-radius:10px;
    padding:5px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
}

.button:hover {
    background-color: DodgerBlue;
    color: white;
}

.button:active{
transform: scale(0.95); 
}